<ion-tabs class="tabs-royal tabs-icon-top">
  <ion-tab title="CALENDÁRIO" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref=".calendar">
    <ion-nav-view name="agenda-calendar"></ion-nav-view>
  </ion-tab>
  <ion-tab title="EVENTOS" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref=".list">
    <ion-nav-view name="agenda-list"></ion-nav-view>
  </ion-tab>
  <ion-tab title="HISTÓRICO" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" ui-sref=".history">
    <ion-nav-view name="agenda-history"></ion-nav-view>
  </ion-tab>
</ion-tabs>