<ion-tabs class="tabs-royal tabs-icon-top">
  <ion-tab title="DASHBOARD" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref=".dashboard">
    <ion-nav-view name="opportunities-dashboard"></ion-nav-view>
  </ion-tab>
  <ion-tab title="PENDENTES" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref=".list">
    <ion-nav-view name="opportunities-list"></ion-nav-view>
  </ion-tab>
  <ion-tab title="INACTIVAS" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" ui-sref=".history">
    <ion-nav-view name="opportunities-history"></ion-nav-view>
  </ion-tab>
</ion-tabs>