<ion-tabs class="tabs-royal tabs-icon-top">
  <ion-tab title="CATÁLOGO" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" ui-sref=".list">
    <ion-nav-view name="products-list"></ion-nav-view>
  </ion-tab>
  <ion-tab title="CATEGORIAS" icon-off="ion-ios-pricetag-outline" icon-on="ion-ios-pricetag" ui-sref=".categories">
    <ion-nav-view name="products-categories"></ion-nav-view>
  </ion-tab>
  <ion-tab title="ARMAZÉNS" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" ui-sref=".warehouses">
    <ion-nav-view name="products-warehouses"></ion-nav-view>
  </ion-tab>
</ion-tabs>