<ion-modal-view>
  <ion-header-bar class="bar-royal">
    <h1 class="title">SELECCIONE MOEDA</h1>
    <div class="buttons">
      <button class="button" ng-click="currencyModal.hide()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-radio ng-repeat="currency in currencies" ng-click="currencyModal.hide()" ng-model="currencyModel.currency" ng-value="currency">
        <div class="row">
          <strong class="col-20">{{currency.id}}</strong>
          <span>{{currency.name}}</span>
        </div>
      </ion-radio>
    </ion-list>
  </ion-content>
</ion-modal-view>