<ion-modal-view class="ion-nifty-modal modal-source">
  <div class="ion-modal-content-custom">
    <ion-header-bar class="bar-royal">
      <h1 class="title">SELECCIONE ORIGEM</h1>
      <div class="buttons">
        <button class="button" ng-click="sourceModal.hide()">Fechar</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <ion-radio ng-repeat="(key, value) in origens" ng-change="refreshEntities()" ng-click="sourceModal.hide()" ng-model="activityModel.source" ng-value="key">
          <span>{{value}}</span>
        </ion-radio>
      </div>
    </ion-content>
  </div>
</ion-modal-view>