<ion-view view-title="CLIENTES">
  <ion-content>
    <ion-refresher pulling-text="Deslize para actualizar..." on-refresh="refreshCustomers(false)">
    </ion-refresher>
    <ion-list ng-repeat="(letter, value) in customers | filter: customerSearch | orderBy: 'name' | groupBy: 'name[0].toUpperCase()'">
      <ion-item class="item-divider">{{letter}}</ion-item>
      <ion-item ng-repeat="item in value" ng-init="total = item.debt + item.pending" ng-click="viewCustomer(item.id)">
        <div>{{item.name}}</div>
        <span ng-class="(total > 0 && 'assertive') || 'balanced'">{{total | currency: '€'}}</span>
        <ion-option-button ng-click="deleteCustomer(item.id)" class="button-assertive">Apagar</ion-option-button>
        <ion-option-button ng-click="updateCustomer(item.id)" class="button-royal">Editar</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer item-input-inset footer-item-input-insert">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Pesquisar" ng-model="customerSearch.name">
    </label>
  </div>
</ion-view>