<ion-view view-title="{{formTitle}}">
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button" ng-click="saveQuote()">Submeter</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <form name="opportunityForm">
      <ion-list>
        <ion-item class="item-dark item-divider">
          <span>INFORMAÇÕES GERAIS</span>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
</ion-view>